body{
    background-color: $bg;
    color: #ffffff;
    font-family: ralewayregular;
}
a{
    color: #ffffff;

    &:hover{
        color: $firmColor;
    }
}

ul{
    padding: 0;
    margin-bottom: 0;
}
li{
    text-decoration: none;
    list-style: none;
}
img{
    max-width: 100%;
}

.block-name{
    font-family: playfair-display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: $firmColor;
    width: 100%;
    text-align: left;
    margin-bottom: 100px;
    padding: 0 15px;
}

.logo{
    display: inline-block;

    .name{
        font-family: postnobillsjaffna-semibold;
        font-size: 36px;
        line-height: 54px;
    }
    .desc{
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.12em;
    }
}




header{
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .wrapper{
        max-width: 1110px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        position: relative;

        .nav-button{
            display: none;
            z-index: 150;
        }

        .toggle-menu{
            display: inline-block;
            margin-bottom: 0;
        
            li{
                display: inline-block;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.05em;
                margin-left: 40px;
            }
        }
    }

    .main-h{
        font-family: playfair-display;
        font-weight: bold;
        color: $firmColor;
        text-align: center;
        max-width: 502px;
        margin: 0 auto;
        line-height: 64px;
        font-size: 48px;
        margin-top: 170px;
    }

    .mouse-scroll-img{
        display: block;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 200px;
    }

    .header-info-line{
        text-align: center;
        padding-bottom: 74px;

        & :first-child{
            padding-right: 68px; //68 136
            width: 50%;
            float: left;
            text-align: right;
        }
        & :last-child{
            padding-left: 68px;
            width: 50%;
            float: right;
            text-align: left;
        }
    }
}
@media(max-width: 850px){
    header > .wrapper > nav{
        .nav-button{
            display: block;
        }
    }
    header > .wrapper > nav > .toggle-menu{
        position: fixed;
        top: 0;
        left: 0;
        //display: inline-flex;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $bg;
        z-index: 100;
        padding: 40px 0;

        li{
            max-width: 200px;
            margin: 0;
            margin-bottom: 0;
            padding: 20px;
        }
    }
}
@media(max-width: 560px){
    header{
        .header-info-line{

            & :first-child{
                padding-right: 0;
                width: 100%;
                float: left;
                text-align: center;
            }
            & :last-child{
                padding-left: 0;
                width: 100%;
                float: left;
                text-align: center;
            }
        }
    }
}
@media(max-width: 380px){
    header{
        .main-h{
            line-height: 50px;
            font-size: 40px;
            margin-top: 90px;
        }
    }
}




.characteristics{
    display: flex;
    justify-content: center;
    padding: 60px 0 120px 0;
    flex-wrap: wrap;

    .block{
        text-align: center;
        width: 193px;
        margin-top: 60px;

        p{
            margin-top: 53px;
        }
    }
}




.appartments{

    .block{
        position: relative;

        .loft-name{
            display: block;
            position: absolute;
            bottom: 50px;
            left: 50px;
        }
        .loft-link:nth-child(1){
            background-image: url(../img/our-flt-1.jpg);
        }
    }
}
@media(max-width: 427px){
    .appartments{
        .block{
            .loft-name{
                bottom: 7%;
            }
        }
    }
}




.wrapper-whatnWhath{
    padding-top: 180px;
    padding-bottom: 180px;
    background-image: url(../img/call-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .whantWatch{

        .formText{
            font-size: 16px;
            line-height: 24px;
        }

        .block-name{
            margin-bottom: 20px;
        }
        
        .form-desc{
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: #E7E7E7;
        }

        form{

            .field-top{
                margin-bottom: 20px;
            }
            p{
                width: 50%;
                float: left;
                padding: 0 15px;

                input{
                    text-align: center;
                    font-size: 14px;
                    line-height: 27px;
                    background-color: rgba(255, 255, 255, .2);
                    color: #BEBEBE;
                    border: none;
                    width: 100%;
                    height: 50px;

                }

                .form-button{
                    background-color: $firmColor;
                    color: #ffffff;
                }

            }

        }
        
    }
}
@media(max-width: 767px){
    .wrapper-whatnWhath{
        .whantWatch{
            .formText{
                padding-top: 15px;
                padding-bottom: 30px;
            }
        }
    }
}
@media(max-width: 450px){
    .wrapper-whatnWhath{
        .whantWatch form{
            p{
                width: 100%;
                padding: 0;
            }
        }
    }
}




.video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 719px;
    margin: 0 auto;

    .video-button{
        position: absolute;
        cursor: pointer;
    }

    video{
        width: 100%;
    }
}




.mapBlock{

    .block-name{
        margin-top: 180px;
        padding: 0;
    }

    #map{
        width: 100%;
        height: 358px;
    }

    .ymaps-layers-pane {
        filter: brightness(50%);
        -ms-filter: brightness(50%);
        -webkit-filter: brightness(50%);
        -moz-filter: brightness(50%);   
        -o-filter: brightness(50%);  
    }

}




.second-form{
    margin-bottom: 180px;

    .block-name{
        margin-top: 180px;
        margin-bottom: 50px;
    }
    .second-form-block{
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            width: 25%;
            float: left;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            margin-right: 30px;

            &:last-child{
                margin-right: 0;
            }

            input{
                width: 100%;
                text-align: center;
                height: 50px;
                background-color: rgba(255, 255, 255, .2);
                border: none;
            }

            .form-button{
                background-color: $firmColor;
                color: #ffffff;
            }
        }
    }
}
@media(max-width: 770px){
    .second-form{
        .second-form-block{
            flex-wrap: wrap;
            p{
                width: 50%;
                margin-right: 0;
                padding: 0 10px;
            }
        }
    }
}
@media(max-width: 427px){
    .second-form{
        .second-form-block{
            p{
                width: 100%;
                margin-right: 0;
                padding: 0 0;
            }
        }
    }
}




footer{
    background-color: #2D343C;
    padding-top: 60px;
    padding-bottom: 50px;

    p{
        margin-bottom: 0px;
        display: inline-block;
    }

    a,p{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
    }

    li{
        padding-bottom: 15px;
    }

    .sotials-icons li{
        display: inline-block;
        i{
            font-size: 30px;
            margin-right: 20px;
        }
    }

    .footer-email{
        font-weight: bold;
        color: $firmColor;
    }
}
@media(max-width: 576px){
    footer{
        .logo{
            width: 100%;
            text-align: center;
        }
    }
}